name: "Codestyle"

on:
  push:

jobs:
  check-codestyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v26
      - uses: cachix/cachix-action@v14
        with:
          name: devenv

      - name: devenv.sh install
        run: nix profile install nixpkgs#devenv

      - name: devenv.sh evaluation
        run: devenv shell echo

      - name: clang-format checks
        run: devenv shell "find . -type f \( -name \*.cpp -o -name \*.hpp \) -print0 | xargs -0 -n1 -P$(nproc) clang-format --Werror -n"

      - name: generate compile-commands
        run: devenv shell "xmake project -k compile_commands -y"

      - name: clang-tidy checks
        run: devenv shell "find include src example -type f \( -name \*.cpp -o -name \*.hpp \) -print0 | xargs -0 -n1 -P$(nproc) clang-tidy -p build"
